{% extends "base.html" %}

{% block title %}Create task{% endblock title %}

{% block content %}
<form method="POST">
    
    {% csrf_token %}

    <div class="w-1/2 mx-auto my-10">
        {% if messages %}
            {% for message in messages %}
            <div class="p-3 {% if message.tags == 'success' %}bg-green-500{% endif %} ">
                <h1 class=" text-white font-extrabold text-center">
                    {{ message }}
                </h1>
            </div>
            {% endfor %}
        {% endif %}
            
        {{ task.as_p }}
        {{ task_detail.as_p }}

        <button type="submit" class="button_submit w-full">Submit</button>
    </div>
    <div class="border-2 rounded-lg border-gray-300 p-2 w-full px-3 mt-2 bg-gray-200 font-semibold hidden"></div>
</form>

{% endblock content %}