{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      div{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1{
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    
    <div>
        <h1>
            Welcome To Task Management  Project
            ✌️
        </h1>
    </div>

  </body>
</html>